*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif
}

.navbar{
    display: flex;
    align-items: center;
    padding-top: 0.03px;
    padding-bottom: 0.03px;
    border-bottom: solid 2px;
    background: linear-gradient(135deg, #7158fe, #9d4de6);
    position: sticky;
    top:0;
    left: 0;
}   

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none ;
}

nav ul li{
    display: inline-block;
    margin-right: 30px;
}

.navbar li a:hover,
.navbar li a.active{
    color: black;
}



a{
    text-decoration:none;
    color:white;
    font-size: 20px;
}

p{
    color: black;
    
}

/*Mix logo with background*/
.logo{
    mix-blend-mode:multiply;
    padding-left: 45px;
}

/*Features*/
.feature{
    width: 100%;
    padding: 70px 0;
}

.title-text{
    text-align: center;
    padding-top: 170px;
    padding-bottom: 70px;
   
}

.title-text p{
    margin: auto;
    font-size: 30px;
    color: orchid;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
    
}


/*Design the shape on top of "Features"*/
.title-text p::after{
    content: "";
    width: 50px;
    height: 35px;
    background: linear-gradient(orchid, #009688);
    position:absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
} 

.title-text h1{
    font-size: 30px;
    font-weight: bold;
}

/*Footer Section*/

.footer{
    padding: 9px 0 20px;
    background: lightgrey;
    position: relative;
    
}

.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    
    
}

.footer-left , .footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 5px;

}

.footer-right{
    text-align: right;

}

.footer-row h1{
    margin: 10px 0;
}

.footer-row p{
    line-height: 35px;
    margin: 0;

}

.footer-left .fa, .footer-right .fa{
    font-size: 20px;
    color: white;
    margin: 10px;
}

.footer-img{
    position: absolute;
    left: 44%;
    top: 50%;
    mix-blend-mode:multiply;
}



.footer-left .fa , .footer-right .fa{
    font-size: 20px;
    color: orchid;
    margin: 10px;
}



.social{
    text-align: center;
}

.social .fa{
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid orchid;
    margin: 40px 5px 0;
    color: orchid;
    cursor: pointer;
    transition: .5s;
}

/*Hover effect for icons*/

.social .fa:hover{
    background: orchid;
    color: #fff;
    transform: translateY(-7px);

}

/*Copyright styling*/

.social p{
    font-size: 12px;
    margin-top: 20px;
}

.about-us{
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
    padding-bottom: 15%;
    padding-top: 15%;
}

.about-us img{
    flex: 0 50%;
    max-width: 50%;
    height: auto;
    margin-right: 30px;
    border-radius: 20px;

}

.content{
    padding: 35px;
    background: whitesmoke;
    border-radius: 20px;
    padding-left: 5%;
    
}

.content h2{
    color: black;
    font-size: 30px;
    margin: 15px 0px;
}

.content p{
    color: #666;
    font-size: 18px;
    line-height: 1.5;
    margin: 15px 0px;
}


.map-container {
    width: 600px;
    height: 450px;
}
  